<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automate Tester project suite" >
		<listeners>
			<listener class-name="com.qa.Listeneres.ListenerTest"/>
		</listeners>

<test name="Automate Tester">
  	
    <classes>
      <class name="com.qa.test.AllTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->